@import url(reset.css)
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif');


.menu {
width: 2000px;
color: white;
background-color: blue;
padding: 10px;
position: fixed;
font-family: 'IBM Plex', sans-serif;
margin-top: 0px;
top:0px;
left:0px;
}


div {
    display: inline-block;
    height: 250px;
    width: 200px;
    vertical-align: top;
    margin: 25px;
    margin-top: 80px;
}

.left {
border: 1px solid grey;
padding: 15px;
border-radius: 10px;
position: static;
top: 50px;
}

.center {
border: 1px solid grey;
padding: 15px;
border-radius: 10px;
position: static;
top: 50px;
}

.right {
border: 1px solid grey;
padding: 15px;
border-radius: 10px;
position: static;
top: 50px;
}

.footer {
width: 2000px;
color: white;
background-color: blue;
padding: 10px;
position: fixed;
font-family: 'IBM Plex', sans-serif;
margin-bottom: 0px;
bottom: 0px;
left: 0px;
}  

